---
import Menu from "../components/Menu.astro";
import HoldCard from "../components/HoldCard.astro";
import Offert from "../components/Offert.astro";
import Senpai from "../components/Senpai.astro";
import Prices from "../components/Prices.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <title>Hold</title>
    <link rel="stylesheet" href="https://use.typekit.net/uap2ixo.css" />
    <link rel="stylesheet" href="src/styles/general.css" />
  </head>

  <body>
    <!-- components -->
    <Menu />
    <h1>VORES HOLD</h1>
    <HoldCard title="JUNIOR HOLD" hold="junior-hold" age="Alder:" range="6-15 år" activity="Træning:" level="Karate og selvforsvar" focus="Fokus:" key="Trygt fællesskab og social udvikling" instructor="Underviser:" name="Senpai Julie" day1="MANDAG" text1="Hver mandag mødes Junior holdet 17:30 - 18:30" day2="TORSDAG" text2="Hver torsdag mødes Junior holdet 17:30 - 18:30" />
    <HoldCard title="SENIOR HOLD" hold="senior-hold" age="Alder:" range="15 år og opefter" activity="Træning:" level="Karate og selvforsvar (avanceret)" focus="Fokus:" key="Forbedring af færdigheder" instructor="Underviser:" name="Senpai Per eller Senpai Julie" day1="MANDAG" text1="Hver mandag mødes Senior holdet 18:00 - 19:30" day2="TORSDAG" text2="Hver torsdag mødes Senior holdet 18:00 - 19:30" />
    <HoldCard title="EKSTRA TRÆNING" hold="ekstra-training" age="Alder:" range="15 år og opefter" activity="Træning:" level="avanceret" focus="Fokus:" key="Forbedring af færdigheder" instructor="Underviser:" name="Senpai Per eller Senpai Julie" day1="FREDAG" text1="Hver anden fredag har vi Kamptræning, her træner vi praktisk og for øvet vores hånd-til-hånd kamp, som der er blevet undervist tidligere på ugen. Her får man øvet de essentielle ting, igen." day2="SØNDAG" text2="Søndagstræning foregår i Boserup Skov, et lille stykke udenfor Roskilde midtby. Her får vi trænet i naturens smukke omgivelser. Noget godt til både krop og sjæl." />
    <Offert />
    <Senpai />
    <Senpai />
    <Prices />
    <Footer />
  </body>
</html>

<style>
  h1 {
    text-align: center;
  }
</style>
