---
import Menu from "../components/Menu.astro";
import HoldCard from "../components/HoldCard.astro";
import Offert from "../components/Offert.astro";
import Senpai from "../components/Senpai.astro";
import Prices from "../components/Prices.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <title>hold</title>
    <link rel="stylesheet" href="https://use.typekit.net/uap2ixo.css" />
    <link rel="stylesheet" href="src/styles/general.css" />
  </head>

  <body>
    <!-- components -->
    <Menu />
    <HoldCard />
    <HoldCard />
    <HoldCard />
    <Offert />
    <Senpai />
    <Senpai />
    <Prices />
    <Footer />
  </body>
</html>
