---
import "../styles/general.css";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import SolidButton from "../components/SolidButton.astro";
import StrokeButton from "../components/StrokeButton.astro";
import Offert from "../components/Offert.astro";
import Card from "../components/Card.astro";
import Citation from "../components/Citation.astro";
import Kanku from "../components/Kanku.astro";
---

<Layout title="Hjem" meta="Velkommen til RKOS (Roskilde Karate og Selvforsvar) en klub for alle aldre og niveauer. Læs om vores hold, træningstider og kommende events, og kontakt os for at få en gratis prøve-måned.">
  <!-- components -->
  <div class="hero-container">
    <Hero />
    <div class="down-button">
      <SolidButton variant="red-white scroll-down" link="#intro" text="↓" page="intro" />
    </div>
  </div>
  <article id="intro">
    <img src="/imgs/parade.webp" alt="Karate parade" />
    <div class="info">
      <h2>Er du klar til selvforsvar?</h2>
      <p>Hos RKOS lærer man karate og selvforsvar, hvordan du bruger din modstanders styrke mod dem selv. Det handler ikke kun om slag og spark, man bliver også udfordret med disciplin, sådan udvikler vi os nemlig både fysisk og mentalt.</p>
      <div id="button"><StrokeButton variant="red-black" text="LÆS MERE OM VORES HOLD" link="/hold" page="Hold" /></div>
    </div>
  </article>
  <Offert />
  <Card />
  <Card />
  <Card />
  <Citation />
  <Kanku />
</Layout>

<style>
  .hero-container {
    position: relative;
    width: 100%;
  }

  .down-button {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }
  article {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    margin: 20px;
    gap: var(--s);
  }

  article img {
    align-self: center;
    margin-bottom: var(--m);
  }

  #button {
    margin-top: 0.8rem;
    width: 200px;
  }

  @media (min-width: 900px) {
    article {
      grid-template-columns: 1fr 1fr;
      margin: 0 var(--L) var(--m) var(--L);
      gap: var(--S);
    }

    #button {
      width: 300px;
      margin-top: var(--m);
    }
  }
</style>
