---
import Menu from "../components/Menu.astro";
import CalenderCard from "../components/CalenderCard.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <title>Kalender</title>
    <link rel="stylesheet" href="https://use.typekit.net/uap2ixo.css" />
    <link rel="stylesheet" href="src/styles/general.css" />
  </head>

  <body>
    <!-- components -->
    <Menu />
    <CalenderCard />
    <Footer />
  </body>
</html>
