---
import "../styles/general.css";
import "../styles/kalender.css";
import Layout from "../layouts/Layout.astro";
import CalenderCard from "../components/CalenderCard.astro";

const url = "https://rmnmiybwdlwyqkveaakh.supabase.co/rest/v1/kalender";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJtbm1peWJ3ZGx3eXFrdmVhYWtoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc1NjcxMzIsImV4cCI6MjA2MzE0MzEzMn0.uOCnb23dVA36EYNtnoRazJJx5kXr0gPgv7CmXuAfbnk";

const options = {
  headers: {
    apikey: key,
  },
};

const request = await fetch(url, options);
const data = await request.json();

console.log("data", data);
---

<Layout>
  <div class="cards">
    {
      data.map((event) => {
        return <CalenderCard data={event} />;
      })
    }
  </div>
</Layout>

<!-- håber det virker nu -->
