---
import "../styles/general.css";
import Layout from "../layouts/Layout.astro";
import CalenderCard from "../components/CalenderCard.astro";

const url = "https://rmnmiybwdlwyqkveaakh.supabase.co/rest/v1/kalender";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJtbm1peWJ3ZGx3eXFrdmVhYWtoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc1NjcxMzIsImV4cCI6MjA2MzE0MzEzMn0.uOCnb23dVA36EYNtnoRazJJx5kXr0gPgv7CmXuAfbnk";

const options = {
  headers: {
    apikey: key,
  },
};

const request = await fetch(url, options);
const data = await request.json();

console.log("data", data);
---

<Layout title="Kalender" meta="Hold dig opdateret på alle kommende træninger hos Roskilde Karate og Selvforsvar. Se tidspunkter og detaljer for alle hold, for begyndere og øvede.">
  <div class="cards">
    {
      data.map((event) => {
        return <CalenderCard data={event} />;
      })
    }
  </div>
</Layout>

<style>
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(157px, 1fr));
    gap: 10px;
    margin: 0 var(--s);
  }

  @media (min-width: 900px) {
    .cards {
      margin: 0 var(--S);
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
</style>
