---
import "../styles/general.css";
import Layout from "../layouts/Layout.astro";
import Map from "../components/Map.astro";
import Kanku from "../components/Kanku.astro";
---

<Layout>
  <!-- components -->
  <article class="grid_1-1">
    <div>
      <h1>Har du spørgmål?</h1>
      <p>
        Har du spørgsmål, eller er du nysgerrig på, om karate og selvforsvar er noget for dig? <br /><br />
        Uanset om du er begynder, forælder til et nysgerrigt barn, eller allerede har erfaring, er du altid velkommen til at skrive eller ringe til os!
      </p>
      <div>
        <img src="/imgs/ikoner/email-dark.svg" alt="Email ikon" />
        <p>EMAIL</p>
        <p>rkos2020@outlook.dk</p>
      </div>
      <div>
        <img src="/imgs/ikoner/telefon-dark.svg" alt="Telefon ikon" />
        <p>TLF NR.</p>
        <p>26196648</p>
      </div>
    </div>
    <div class="form">
      <!-- set form here -->
    </div>
    <p class="italic">"Det første skridt mod styrke er at turde række ud."</p>
  </article>
  <Map />
  <Kanku />
</Layout>
