---
import SolidButton from "./SolidButton.astro";
import StrokeButton from "./StrokeButton.astro";

const { data } = Astro.props;
---

<article>
  <img class="card-img" src={data?.img || "Data ikke fundet"} alt=`Billede af ${data.titel}` />
  <div class="info">
    <h2>{data?.activity || "Data ikke fundet"}</h2>
    <div class="event-info">
      <div class="icon-grid">
        <img class="icon" src="imgs/ikoner/date.svg" alt="Dato ikon" />
        <p>{data?.date || "Data ikke fundet"}</p>
      </div>
      <div class="icon-grid">
        <img class="icon" src="imgs/ikoner/time.svg" alt="Tid ikon" />
        <p>
          {data?.start?.slice(0, 5) || "Data ikke fundet"} - {data?.end?.slice(0, 5) || "Data ikke fundet"}
        </p><!-- slice(0, 5) begrænser tegn til 5 tegn (ændre fra Supabases format: HH:MM:SS) -->
      </div>
      <div class="icon-grid">
        <img class="icon" src="imgs/ikoner/location.svg" alt="Lokation ikon" />
        <p>{data?.location || "Data ikke fundet"}</p>
      </div>
    </div>
    <div class="buttons">
      <div class="button">
        <StrokeButton variant="black-red" text="Læs mere" page="hold" link={`/hold#${data?.activity === "Fredags Træning" || data?.activity === "Søndags Træning" ? "ekstra-training" : data?.activity?.toLowerCase()?.replaceAll(" ", "-")?.replaceAll("æ", "ae")?.replaceAll("ø", "oe")?.replaceAll("å", "aa") || "Data ikke fundet"}`} />
        <!-- Linket bruger "activity" fra databasen til at finde den korrekte hold-variant (slug), som matcher HoldCard-komponentens 'hold' prop på hold-siden.
     For 'Fredags Træning' og 'Søndags Træning' konverteres det til 'ekstra-training'.
     Ellers omdannes activity-teksten til et id-venligt format (små bogstaver, bindestreger og uden danske specialtegn). -->
      </div>
      <div class="rb active">
        <SolidButton variant="red-black" text=`${data?.book || "Data ikke fundet"}` />
      </div>
      <div class="check noshow">
        <SolidButton variant="check-b" text="✓" />
      </div>
      <!-- rb og check er class da #/id skal være unikt -->
    </div>
  </div>

  <script>
    window.addEventListener("DOMContentLoaded", () => {
      console.log("Script kører, DOM klar");

      // finder alle .rb knapper på siden
      const rbButtons = document.querySelectorAll(".rb");

      rbButtons.forEach((rb) => {
        rb.addEventListener("click", () => {
          const card = rb.closest("article");
          const check = card.querySelector(".check");

          rb.classList.add("noshow");
          rb.classList.remove("active");

          check.classList.remove("noshow");
          check.classList.add("active");
        });
      });
    });
  </script>
</article>

<style>
  article {
    display: grid;
    background-color: white;
    margin: 30px 0 10px 0;
    border-radius: 0 20px 20px 20px;
    box-shadow: 0 4px 12px rgba(61, 61, 60, 0.2);
  }

  .card-img {
    width: 100%;
  }
  .info {
    padding: 15px 15px;
  }
  h2 {
    text-transform: uppercase;
  }

  .event-info {
    display: grid;
    gap: 6px;
    margin: 0.5rem 0 0.8rem;
  }

  .icon {
    width: 18px;
    height: 18px;
  }

  .icon-grid {
    display: flex;
    gap: 10px;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
  }
  .active {
    display: block;
  }

  .noshow {
    display: none;
  }
  p {
    font-size: 0.8rem;
  }

  @media (min-width: 900px) {
    .info {
      padding: 30px 25px;
    }
    .event-info {
      margin: 0.9rem 0 1.2rem;
      gap: 12px;
    }
    .icon {
      width: 30px;
      height: 30px;
    }

    p {
      font-size: 1.3rem;
    }

    .active,
    .button {
      width: 122px;
    }
  }
</style>
