<header>
  <ul>
    <li><a href="/">HJEM</a></li>
    <li><a href="/hold">HOLD</a></li>
    <li><a href="/kalender">KALENDER</a></li>
    <li><a href="/om-os">OM OS</a></li>
    <li><a href="/kontakt">KONTAKT</a></li>
  </ul>
</header>
