---
import SolidButton from "./SolidButton.astro";
---

<div class="tilbud">
  <h1>FØRSTE GANG MED KARATE?</h1>
  <h1>FÅ FØRSTE <b>MÅNED</b> GRATIS</h1>
  <p>Få en stærk start – træn op til 14 gange!</p>

  <SolidButton variant="black-white" text="KONTAKT" link="/kontakt" page="Kontakt" />
</div>

<style>
  .tilbud {
    display: flex;
    flex-direction: column;
    min-height: 150;
    border-top-right-radius: 70px;
    background-color: var(--red800);
    color: var(--spring-wood50);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: var(--s);
    padding-left: var(--m);
    margin-right: var(--s);
  }

  h1 {
    font-size: 1.8rem;
    font-weight: 400;
  }

  p {
    margin: var(--s);
  }

  /** DESKTOP **/
  @media (min-width: 900px) {
    .tilbud {
      border-top-right-radius: 150px;
      padding: 20px 30px 20px 80px;
      margin-right: var(--S);
    }

    h1 {
      font-size: 2.8rem;
      font-weight: 400;
    }
  }
</style>
